{
  "ConnectionStrings": {
    "DefaultConnection": "Data Source=.;Initial Catalog=GapSenseDb;Integrated Security=True;Persist Security Info=False;Pooling=False;MultipleActiveResultSets=True;Encrypt=False;TrustServerCertificate=True;Application Name=GapSense.API;Command Timeout=0;"
  }
}
